---
import Nav from "./Nav.astro";
---

<header class="flex justify-between items-center">
  <a href="/" aria-label="home page" class="block w-10 h-10">
    <img src="/logo.svg" alt="space tourism logo" />
  </a>
  <Nav />
</header>