---
import { MobileMenu } from "./MobileMenu.tsx";
---

<nav>
  <ul class="hidden md:flex md:grow md:border-2">
    <li>
      <a><span>00</span> HOME</a>
    </li>
    <li>
      <a><span>00</span> DESTINATION</a>
    </li>
    <li>
      <a><span>00</span> CREW</a>
    </li>
    <li>
      <a><span>00</span> TECHNOLOGY</a>
    </li>
  </ul>
  <MobileMenu client:visible client:only="react" />
</nav>