---
import { MobileMenu } from "./MobileMenu.tsx";
import { DesktopMenu } from "./DesktopMenu";

interface Links {
  leftText?: string,
  text: string,
  path: string,
}


const links: Links[] = [
  {
    text: "home",
    path: "/",
  },
  {
    text: "destination",
    path: "/destinations",
  },
  {
    text: "crew",
    path: "/crew",
  },
  {
    text: "technology",
    path: "/technology",
  },
];
---

<nav>
  <DesktopMenu client:visible client:only="react" links={links} />
  <MobileMenu  client:visible client:only="react" links={links} />
</nav>