---
interface Props {
  leftText: string,
}

const { leftText } =  Astro.props;

---
<h1 class="font-sans uppercase text-center mt-6 tracking-wider md:text-left md:text-xl xl:text-[28px]">
  <span class="font-sans font-bold opacity-25 mr-4">{leftText}</span>
  <slot />
</h1>
