---
import { CurrentTechMarker } from "./CurrentTechMarker";

const destinations = ["moon", "mars", "europa"];
---

<nav class="" aria-label="technology tab navigation">
  <ul class="flex justify-center items-center gap-4 mt-6 mb-8 xl:flex-col">
    {
      destinations.map((name, index) => (
        <li>
          <CurrentTechMarker
            path={`${import.meta.env.BASE_URL}/technology/${name}`}
            ariaLabel={`Go to ${name} technology`}
            text={(index + 1).toString()}
            client:visible
          />
        </li>
      ))
    }
  </ul>
</nav>
